### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
round(4.5667,2)

4.57

2. Convert "657" to an integer data type

In [2]:
int("657")

657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [7]:
import random as rand

n1=int(input("Give me a number:" ))
n2=int(input("Give me another number:"))

d1=rand.randint(n1,n2)
d2=rand.randint(n1,n2)
d3=rand.randint(n1,n2)
d4=rand.randint(n1,n2)
d5=rand.randint(n1,n2)
d6=rand.randint(n1,n2)

print(f"The code is:{d1}-{d2}-{d3}-{d4}-{d5}-{d6}")

Give me a number:23
Give me another number:34
The code is:28-27-28-25-34-30

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [8]:
line1="    Hickory, dickory,   dock,    "
line2=" The   mouse ran up the clock.   "
line3=" The clock struck one,   "
line4="    The mouse ran   down,   "           
line5="  Hickory,   dickory, dock   "

In [10]:
line1=line1.strip()
line2=line2.strip()
line3=line3.strip()
line4=line4.strip()
line5=line5.strip()


line1=line1.replace(" ","")
line2=line2.replace(" ","")
line3=line3.replace(" ","")
line4=line4.replace(" ","")
line5=line5.replace(" ","")

In [11]:
print(line1)
print(line2)
print(line3)
print(line4)
print(line5)

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [3]:
def mpg():
    miles= float(input("please enter the miles driven:"))
    gal= float(input("please enter the gallon used:"))
    mpg= miles/gal
    print(f"Miles driven per gallon :{miles}miles/{gal:.2f}gallons= {mpg}miles/gallon")
mpg()

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [ ]:
def compute():
    r = float(input("Enter the radius of the circle:")
    pi=3.14          
    A = pi*(r*r)
    C = pi*(2*r)
    print(f"The area of the circle is :{A:.2f}\n The circumference of the circle is{C:.2f}) )
          
compute()

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [ ]:
import random as rd
def multiply_two(x,y):
    x=rd.randint(1,100)
    y=rd.randint(1,100)
    print(f"{x} * {y} = {x*y}" )

multiply_two(x,y)

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [ ]:
def mult_table(x):
    print(f"{x} X 1 = {x * 1}")
    print(f"{x} X 2 = {x * 2}")
    print(f"{x} X 3 = {x * 3}")
    print(f"{x} X 4 = {x * 4}")
    print(f"{x} X 5 = {x * 5}")
    print(f"{x} X 6 = {x * 6}")
    print(f"{x} X 7 = {x * 7}")
    print(f"{x} X 8 = {x * 8}")
    print(f"{x} X 9 = {x * 9}")

In [ ]:
x= int(input("Enter a number: "))

mult_table(x)